
body {
  background-color: rgba(251, 229, 185, 1);
  /* overflow-y: hidden; */
    overflow-x: hidden;

}
h1, a {
    font-family: "myriad-pro", sans-serif;
font-weight: 400;
font-style: normal;
}
p, h4, form {
  font-family: 'Poppins';
}
.menu-checkbox {
  display: none;
}
.image-container {
    position: relative;
    display: inline-block;
    width: 100%;

}
.image-container img {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto; /
}
nav {
 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
    text-decoration: none;
display: flex;

  gap: 75px;
  padding-right: 7.5%;

}
.nav-links a{
    text-decoration: none;
    font-size: 27.5px;
    color: rgba(83, 52, 32, 1);
}
.nav-img {
  width: 5%; 
  height: auto;
  display: block;
}
.main-index {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  max-width: 100vw; 
  overflow: hidden;
margin-top: -80px;

}
.main-index p {
font-size: 24px;
  max-width: 453px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
gap: 45px;}
.cirkel-bruin {
  position: absolute;
  background-color: rgba(83, 52, 32, 1);
  border-radius: 50%;
  height: 32.5%; 
  width: 27.5%; 
  top: 50%;    
  left: 50%;   
  transform: translate(-50%, -50%); 
}
.gebogen-tekst-bruin {
  position: absolute;
  /* top: 15px; */
  left: -0.5%;
  /* right: 20px; */
  bottom: -15.5%;
  
  font-weight: bold;
   font-size: 40px;
width: 100%;
}
.gebogen-tekst-blauw {
  position: absolute;
  top: 50%;    
  left: 50%;   
  width: 100%;  
  height:47.5%;

}
.gebogen-tekst-blauw text {
  fill: rgba(251, 229, 185, 1);
  font-size: 27.5px; 

}
.gebogen-tekst-blauw.rechts {
  transform: translate(-50%, -50%) rotate(-360deg); 
}


.gebogen-tekst-blauw.links  {
  transform: translate(-50%, -50%) rotate(-180deg); 

}
.gebogen-tekst-blauw.rechts text {
   letter-spacing: 12.5px;

}

.gebogen-tekst-blauw.links text {
     letter-spacing: 12.5px;

}
path {
  fill: transparent;
}
.gebogen-tekst-bruin text {
    fill: rgba(83, 52, 32, 1);
}

.cirkel-blauw {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(147, 197, 199, 1);
  width: 6%;   
  padding-bottom: 6%;
  top: 50%;    
  left: 50%;  
  transform: translate(-50%, -50%);
}
.feature-group {
  position: relative; 
  width: 80%;
margin: 0 auto;      
  display: flex;
  justify-content: center;
  margin-top: -50px;
  gap: 50px;
}
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  padding-right: 7.5%;
}
.hamburger span {
width: 30px;
  height: 4px;
  background-color: rgba(83, 52, 32, 1);
  border-radius: 2px;
}

.main-features {
  display: flex;
  flex-direction: column;
  gap: 350px;
  padding-top: 50px;
  padding-bottom: 150px;
}
.horizontal-card {
  position: relative;
  height: 40vh;
  width:  100%; 
  border-radius: 30px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-image: url("Assets/de54eef1a3c6f640ab3c4aca0aafe4cb.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
  color: rgba(251, 229, 185, 1);
}

.vertical-cards {
  position: absolute;
  top: 40%; 
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  z-index: 10;
}
.vertical-card {
position: relative; 
  height: 40vh;
  flex: 0 1 350px;
  background-color: rgba(247, 170, 92, 1);
  border-radius: 30px; 
  text-align: center;
  color: rgba(83, 52, 32, 1);
  overflow: hidden; 
  z-index: 5;
}
.vertical-card img {
 position: absolute;
  bottom: -60px; 
  left: 50%;
  transform: translateX(-50%);
  width: 50%; 
  height: auto;
}
input, select, textarea {
  padding: 12px; /* Some padding */ 
  border: 1px solid rgba(83, 52, 32, 1); 
  background-color: rgba(83, 52, 32, 1);
  color: rgba(251, 229, 185, 1);
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: rgba(83, 52, 32, 1);
  color: rgba(251, 229, 185, 1);
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  input::placeholder, textarea::placeholder {
    color: rgba(251, 229, 185, 1);

}

input[type=submit]:hover {
   background-color: rgba(247, 170, 92, 1);
   color: rgba(83, 52, 32, 1);
}
.main-contact-us {
    display: flex;
  flex-direction: row;
  height: 85vh;
gap: 20px;
  /* justify-content: space-around; */
}
.main-contact-us img {
    width: 50%;
    border-radius: 30px;
  /* height: 20%; */
  /* width: 50%; */
}
.contact {

display: flex;
align-items: center;
  width: 50%;
}
form {
  display: flex;
  flex-direction: column;
    width: 100%;

/* gap: 25px; */

}

.form-info {
  display: flex;
  flex-direction: column;
}
.main-index a {
  text-align: center;
  text-decoration: none;
  display: flex;
color: rgba(251, 229, 185, 1);
align-items: center;
  justify-content: center;
  background-color:rgba(83, 52, 32, 1);
  width: 75%;
  height: 75px;
  border-radius: 50px;
}
@media screen and (max-width: 768px) {
  .main-index {
    margin-top: 5%;
    margin-right: 10%;
  }
  .image-container {
    /* height: 100vh; */
  }
  .main-features {
    gap: 200px;
    /* padding-right: 10%; */
  }
  .vertical-card {
    height: 25vh;
  }
  .vertical-card img {
    bottom: -50%;
  }
  .horizontal-card {
    height: 25vh;
  }
  .nav-links {
        padding-right: 20%;

  }
  .hamburger {
    display: flex;
  }
  .nav-links {
    display: none; 
    flex-direction: column;
    position: relative;
    top: 70px; 
    left: 0;
    width: 100%;
    background-color: rgba(251, 229, 185, 1);
    text-align: center;
    padding: 20px 0;
    z-index: 100;
  }
  .menu-checkbox:checked ~ .nav-links {
    display: flex;
  }
  nav {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 480px) {
  .main-index {

    grid-template-columns: 1fr;
    place-items: center;
  justify-content: center; 
  align-content: center;
     width: 100%;
     margin-top: -6%;

  }
  .main-features {
    gap: 200px;
    padding-right: 0%;
  }
  .vertical-card {
    height: 20vh;
    font-size: 12.5px;
    padding: 5%;
  }
  .vertical-card img {
    bottom: -25%;
  }
  .horizontal-card {
    height: 25vh;
  }
  .nav-links {
        padding-right: 20%;

  }
  .hamburger {
    display: flex;
  }
  .nav-links {
    display: none; 
    flex-direction: column;
    position: relative;
    top: 70px; 
    left: 0;
    width: 100%;
    background-color: rgba(251, 229, 185, 1);
    text-align: center;
    padding: 20px 0;
    z-index: 100;
  }
  .menu-checkbox:checked ~ .nav-links {
    display: flex;
  }
  nav {
    flex-wrap: wrap;
  }
  .horizontal-card {
    background-size: cover;
    background-position: center;
    height: 20vh;
        width: 40vh;
  font-size: 10px;
  }

  .vertical-cards {
     width: 80%;
  }
  .main-contact-us {
    position: absolute;
    flex-direction: column;
    height: auto;
    align-items: center;
    gap: 30px;
    padding: 20%;
    /* bottom: -1%; */
  }
  .main-contact-us img, 
  .contact {
    width: 100%;            
  }
  .main-contact-us img {
    height: 300px;          
    object-fit: cover;      
  }
}