
.image-container {
    position: relative;
    display: inline-block;
}
.image-container img {
display: block;
  width: 100%; /* Of een vaste breedte */
  height: auto;
}


.cirkel-bruin {
position: absolute;
background-color: rgba(83, 52, 32, 1);
border-radius: 50%;
height: 33%;
width: 33%;
top: 33%;
  left: 33%;
}
.gebogen-tekst-bruin {
  position: absolute;
  /* top: 15px; */
  /* left: 10px; */
  /* right: 20px; */
  bottom: -35px;
  font-weight: bold;
   font-size: 51px;
width: 100%;
}
.gebogen-tekst-blauw {
  position: absolute;
  top: 50%;
  left: 50%;
  /* Draai -90 graden (of 270 graden) om het 50% punt bovenaan te krijgen */
  /* transform: translate(-50%, -50%) rotate(-360deg);  */
  width: 33%; 
  height: 33%;
}
.gebogen-tekst-blauw text {
  fill: rgba(147, 197, 199, 1);
  font-size: 35px; 

}
.gebogen-tekst-blauw.rechts {
  transform: translate(-50%, -50%) rotate(-360deg); 
}

/* De linkerkant (180 graden gedraaid t.o.v. rechts) */
.gebogen-tekst-blauw.links  {
  transform: translate(-50%, -50%) rotate(-180deg); 
   letter-spacing: 12.5px;

}
.gebogen-tekst-blauw.rechts text {
   letter-spacing: 5px;

}

/* De linkerkant (180 graden gedraaid t.o.v. rechts) */
.gebogen-tekst-blauw.links text {
  
}
path {
  fill: transparent;
}
.gebogen-tekst-bruin text {
    fill: rgba(83, 52, 32, 1);
}

.cirkel-blauw {
position: absolute;
border-radius: 50%;
background-color: rgba(147, 197, 199, 1);
width: 7.5%;
padding-bottom: 7.5%;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}