
body {
  background-color: rgba(251, 229, 185, 1);
  overflow-y: hidden;
    overflow-x: hidden;

}
.image-container {
    position: relative;
    display: inline-block;
    width: 100%;

}
.image-container img {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto; /* Zorg dat de plaat exact in het midden van de container staat */
}
nav {
 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
    text-decoration: none;
display: flex;
  /* Pas de gap aan om de tekst precies in de grid-banen te krijgen */
  gap: 75px;
  padding-right: 7.5%;

}
.nav-links a{
    text-decoration: none;
    font-size: 27.5px;
    color: rgba(83, 52, 32, 1);
}
.nav-img {
  width: 5%; /* Geef het een duidelijke breedte om te testen */
  height: auto;
  display: block;
}
.main-index {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  max-width: 100vw; /* Voorkom horizontaal scrollen */
  overflow: hidden;
margin-top: -80px;
  /* gap: 50px;
  max-width: 1200px;
  margin: 0 auto; */
}
.main-index p {
font-size: 24px;
  max-width: 453px;
text-align: center;
}
.cirkel-bruin {
  position: absolute;
  background-color: rgba(83, 52, 32, 1);
  border-radius: 50%;
  height: 32.5%; /* Iets kleiner gemaakt om bij de plaat te passen */
  width: 27.5%; 
  top: 50%;    /* Precies in het midden */
  left: 50%;   /* Precies in het midden */
  transform: translate(-50%, -50%); /* Dit zorgt voor perfecte centrering */
}
.gebogen-tekst-bruin {
  position: absolute;
  /* top: 15px; */
  left: -0.5%;
  /* right: 20px; */
  bottom: -15.5%;
  
  font-weight: bold;
   font-size: 40px;
width: 100%;
}
.gebogen-tekst-blauw {
  position: absolute;
  top: 50%;    /* Precies in het midden */
  left: 50%;   /* Precies in het midden */
  width: 100%;  /* Moet even groot zijn als de bruine cirkel */
  height:47.5%;
  /* De transform wordt al afgehandeld in de .links en .rechts klassen */
}
.gebogen-tekst-blauw text {
  fill: rgba(147, 197, 199, 1);
  font-size: 27.5px; 

}
.gebogen-tekst-blauw.rechts {
  transform: translate(-50%, -50%) rotate(-360deg); 
}

/* De linkerkant (180 graden gedraaid t.o.v. rechts) */
.gebogen-tekst-blauw.links  {
  transform: translate(-50%, -50%) rotate(-180deg); 

}
.gebogen-tekst-blauw.rechts text {
   letter-spacing: 12.5px;

}

/* De linkerkant (180 graden gedraaid t.o.v. rechts) */
.gebogen-tekst-blauw.links text {
     letter-spacing: 12.5px;

}
path {
  fill: transparent;
}
.gebogen-tekst-bruin text {
    fill: rgba(83, 52, 32, 1);
}

.cirkel-blauw {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(147, 197, 199, 1);
  width: 6%;   /* Iets kleiner voor de verhouding */
  padding-bottom: 6%;
  top: 50%;    /* Precies in het midden */
  left: 50%;   /* Precies in het midden */
  transform: translate(-50%, -50%);
}
.horizontal-card {
  position: relative;
  height: 350px;
    border-radius: 30px;

  width: 1250px;
  background-image: url(Assets/de54eef1a3c6f640ab3c4aca0aafe4cb.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;

  text-align: center;
  overflow: hidden;
color: rgba(251, 229, 185, 1);
}
.cards {
  display: flex;
  justify-content: center;
  
}
.vertical-cards {
  position: absolute;
  top: 25%; 
  left: 10;
  width: 87.5%;
  display: flex;
  justify-content: space-around; 
  gap: 30px; 
  padding: 0 5%;
}
.vertical-card {
position: relative; 
  height: 400px;
  flex: 0 1 350px;
  background-color: rgba(247, 170, 92, 1);
  border-radius: 30px; 
  text-align: center;
  color: rgba(83, 52, 32, 1);
  overflow: hidden; 
  z-index: 5;
}
.vertical-card img {
 position: absolute;
  bottom: -60px; 
  left: 50%;
  transform: translateX(-50%);
  width: 50%; 
  height: auto;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
